In [2]:
from pyspark import SparkContext
import findspark

In [3]:
findspark.init()
findspark.find()

'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pyspark'

In [4]:
sc=SparkContext("local")

# maximum salary per gender

In [8]:
lines = sc.textFile(r"C:\Users\RAJPUT\Desktop\CDAC\BigData_Dataset\EmployeeData.txt")
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[3],int(x[4]))).reduceByKey(lambda x,y:max(x,y))
words.collect()

[('Male', 50000), ('Female', 51000)]

# Min Salary of male

In [33]:


lines = sc.textFile(r"C:\Users\RAJPUT\Desktop\CDAC\BigData_Dataset\EmployeeData.txt")

words=lines.map(lambda x:x.split(",")).map(lambda x:(x[3],int(x[4]))).filter(lambda x:(x[0]=='Male')).reduceByKey(lambda x,y:min(x,y))
words.collect()

[('Male', 20000)]

# employee names for age greater than 30

In [36]:
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[1],int(x[2]))).filter(lambda x:(x[1]>30))
words.collect()

[('gopal', 45), ('manisha', 40), ('khaleel', 34)]

# All emplyee names only

In [37]:
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[1]))
words.collect()

['gopal',
 'manisha',
 'khaleel',
 'prasanth',
 'kiran',
 'laxmi',
 'bhavya',
 'reshma',
 'kranthi',
 'Satish',
 'Krishna',
 'Arshad',
 'lavanya']

# All employee details with max salary

In [77]:
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[0],x[1],x[2],x[3],int(x[4])))
maxm=words.map(lambda x:((x[4]))).max()

In [79]:
words.filter(lambda x:(x[4]==maxm)).collect()

[('1202', 'manisha', '40', 'Female', 51000)]

# employee details with Salary is greater than 30000 and name is Prasanth

In [87]:
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[0],x[1],x[2],x[3],int(x[4]))).filter(lambda x:(x[1]=="prasanth"and x[4]>30000))

words.collect()

[('1204', 'prasanth', '30', 'Male', 31000)]

# female employees deatials with age group between 20-40

In [90]:
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[0],x[1],int(x[2]),x[3],int(x[4]))).filter(lambda x:(x[2]>20 and x[2]<=40 and x[3]=='Female'))
words.collect()

[('1202', 'manisha', 40, 'Female', 51000),
 ('1206', 'laxmi', 25, 'Female', 35000)]

# employees whose name starts with k

In [92]:
words=lines.map(lambda x:x.split(",")).map(lambda x:(x[0],x[1],int(x[2]),x[3],int(x[4]))).filter(lambda x:(x[1][0]=="k"))
words.collect()

[('1203', 'khaleel', 34, 'Male', 30000),
 ('1205', 'kiran', 20, 'Male', 40000),
 ('1209', 'kranthi', 22, 'Male', 22000)]